# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Node
node_modules/

# Build
dist/
build/

# Logs
*.log
uploads/

# Env
.env

# Backup
backup/
old/

# Temp
tmp/
temp/

# Lager files
*.bak
*.tmp
*.swp
*.swo
*.mp4
*.mp3
medias/
img/
res/
docs/



